<div class="@ShellClass" style="@ShellStyle">
	<table class="grid" style="@TableStyle" aria-label="@AriaLabel">
		<thead>
			@Header
		</thead>
		<tbody>
			@Body
		</tbody>
	</table>
</div>

@code {
	[Parameter] public string AriaLabel { get; set; } = "Table";

	[Parameter] public string? Height { get; set; }
	[Parameter] public string? MinWidth { get; set; }
	[Parameter] public string? Class { get; set; }

	[Parameter] public RenderFragment? Header { get; set; }
	[Parameter] public RenderFragment? Body { get; set; }

	private string ShellStyle => string.IsNullOrWhiteSpace(Height) ? string.Empty : $"max-height: {Height};";
	private string TableStyle => string.IsNullOrWhiteSpace(MinWidth) ? string.Empty : $"min-width: {MinWidth};";
	private string ShellClass
		=> string.IsNullOrWhiteSpace(Class) ? "table-shell" : $"table-shell {Class}";
}
